# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Data files
data/raw/
data/staging/
data/mart/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Models
models_artifacts/*.pkl
